{% extends 'base.html' %} {% block content %}
<h3>Detail evidence pojištění:</h3>
<hr />
<h1>{{pojistenec.jmeno}} {{pojistenec.prijmeni}}</h1>
<p>Tel: {{pojistenec.telefon}} Email: {{pojistenec.email}}</p>
<h4>
  Adresa: {{pojistenec.ulice_cp}}, {{pojistenec.mesto}}, {{pojistenec.psc}},
  {{pojistenec.stat}}
</h4>
<form method="POST">
  {% csrf_token %} {% if user.is_admin %}<button class="btn btn-sm btn-info"  name="edit">
    Upravit pojištěnce
  </button>
  <button class="btn btn-sm btn-danger" name="delete">Smazat pojištěnce</button>{% endif %}
</form>
<hr />
<a class="btn btn-primary btn-sm btn-block" href={% url 'create_pojisteni' pojistenec.id%}>Nové pojištění</a>
<table class="table table-hover">
  <tr>
    <th>Typ pojištění</th>
    <th>Předmět pojištění</th>
    <th>Pojistná částka</th>
    <th>Platí od</th>
    <th>Platí do</th>
    <th>Poznámka</th>
    <th></th>
  </tr>
  {% for pojistka in pojistky %}
  <tr>

    <td>{{pojistka.typ_pojisteni}}</td>
    <td>{{pojistka.predmet_pojisteni}}</td>
    <td>{{pojistka.hodnota_pojisteni}}</td>
    <td>{{pojistka.plati_od}}</td>
    <td>{{pojistka.plati_do}}</td>
    <td>{{pojistka.poznamka}}</td>
    <td>{% if user.is_admin %}<a class="btn btn-sm btn-info" href="{% url 'update_pojisteni' pojistka.id %}">Upravit</a> <a class="btn btn-sm btn-danger"  href="">Smazat</a>{% endif %}</td>
  

  </tr>
  {% endfor %}
</table>


{% endblock %}
