{% extends 'base.html' %} {% block content %}
<h3>Detail pojištění č. {{pojistky.id}}:</h3>
<hr />
<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark"><strong>{{pojistky.pojistenec.jmeno}} {{pojistky.pojistenec.prijmeni}}</strong></li>
        <li class="list-group-item">Tel: <strong>{{pojistky.pojistenec.telefon}}</strong> Email: <strong>{{pojistky.pojistenec.email}}</strong></li>
        <li class="list-group-item">Adresa: <strong>{{pojistky.pojistenec.ulice_cp}}, {{pojistky.pojistenec.mesto}}, {{pojistky.pojistenec.psc}},
          {{pojistky.pojistenec.stat}}</strong></li>
    </div>
  </div>
  <div class="col-md">
    <div class="card card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark">Typ pojištění: <strong>{{pojistky.typ_pojisteni}}</strong></li>
        <li class="list-group-item">Předmět pojištění: <strong>{{pojistky.predmet_pojisteni}}</strong></li>
        <li class="list-group-item">Hodnota pojištění: <strong>{{pojistky.hodnota_pojisteni}}</strong></li>
      </ul>
    </div>
  </div>
  <div class="col-md">
    <div class="card card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-dark">Vytvořeno: <strong>{{pojistky.date_created}}</strong></li>
        <li class="list-group-item">Počet pojistných událostí:  <strong>{{pocet_udalosti}}</strong></li>
        <li class="list-group-item"><a class="btn btn-primary btn-sm btn-block" href="{% url 'create_udalost' pojistky.id %}">Přidat pojistnou událost</a></li>

      </ul>
    </div>
  </div>
</div>
<br>

<table class="table table-hover">
  <tr>
    <th>Pojistná událost č. </th>
    <th>Datum události</th>
    <th>Čas události</th>
    <th>Vyčíslení škody</th>
    <th>Popis škody</th>
    <th></th>
    
  </tr>
  {% for udalost in pojistne_udalosti %}
  <tr>
    <td>{{udalost.id}}</td>
    <td>{{udalost.datum_udalosti}}</td>
    <td>{{udalost.cas_udalosti}}</td>
    <td>{{udalost.vycisleni_skody}}</td>
    <td>{{udalost.popis_skody}}</td>
<!--    <td>{% if user.is_admin %}<a class="btn btn-sm btn-danger" href="{% url 'home' %}">Smazat událost</a>{% endif %} -->
    </td>
  </tr>
  {% endfor %}
</table>

<br>
<a class="btn btn-sm btn-warning" href="{% url 'home' %}">Zpět na seznam</a> <a class="btn btn-sm btn-warning" href={% url 'pojistenec_detail' pojistky.pojistenec.id %}>Zpět na pojištěnce</a>


{% endblock %}
