{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<h2>Registrace</h2>
<hr />

<div class="col-md-4">
  <section class="login-form">
    <form method="post" action="">
      {% csrf_token %}
      <div class="container-fluid">
        {{form|crispy}}
        <br />
        <button
          type="submit"
          class="btn btn-lg btn-primary btn-block"
          value="Login"
        >
          Přihlásit
        </button>
      </div>
    </form>
  </section>
</div>

{% endblock %}
